<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.project.bision.vo.CpyNewsInfoVO" alias="CpyNewsInfoVO" />
		<typeAlias type="com.project.bision.vo.CpyMonthCountVO" alias="CpyMonthCountVO" />
		<typeAlias type="com.project.bision.vo.CpyRliKeywordVO" alias="CpyRliKeywordVO" />
		<typeAlias type="com.project.bision.vo.CpyGenderCountVO" alias="CpyGenderCountVO" />
		<typeAlias type="com.project.bision.vo.CpyYearCountVO" alias="CpyYearCountVO" />
		<typeAlias type="com.project.bision.vo.CpyAgeCountVO" alias="CpyAgeCountVO" />
		<typeAlias type="com.project.bision.vo.CpyKeywordVO" alias="CpyKeywordVO" />
		<typeAlias type="com.project.bision.vo.UserVO" alias="UserVO" />
		<typeAlias type="com.project.bision.vo.CpyStaokVO" alias="CpyStaokVO" />
		<typeAlias type="com.project.bision.vo.CpyRliMonthCountVO" alias="CpyRliMonthCountVO" />
		<typeAlias type="com.project.bision.vo.CpyRliMonthCountVO" alias="CpyRliGenderCountVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/mainMapper.xml" />
		<mapper resource="mapper/userMapper.xml" />
	</mappers>
</configuration>
