<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.project.bision.dao.MainMapper">
	<select id="getCpyMonthCount" parameterType="int" resultType="CpyMonthCountVO">
		SELECT a.cpykeywordseq, b.cpykeyword, a.pccount, a.mobilecount
		  FROM cpymonthcount a, cpykeyword b
		WHERE 1=1
		    AND a.cpykeywordseq = b.cpykeywordseq
		    AND a.cpykeywordseq = #{cpykeywordseq}
	</select>
	
	<select id="getCpyRliKeyword" parameterType="int" resultType="CpyRliKeywordVO">
		SELECT a.cpyrlikeywordseq, b. cpykeyword, a.rlikeyword
		FROM cpyrlikeyword a, cpykeyword b 
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
	</select>
	
	<select id="getCpyGenderCount" parameterType="int" resultType="CpyGenderCountVO">
		SELECT a.cpykeywordseq, b. cpykeyword, (a.malepcusercount +a.malemobileusercount) as malecount, (a.femalepcusercount + a.femalemobileusercount) as femalecount 
		FROM cpygendercount a, cpykeyword b 
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
	</select>
	
	<select id="getCpyYearCount" parameterType="int" resultType="CpyYearCountVO">
		SELECT a.cpykeywordseq, b. cpykeyword, to_char(a.month,'YYYY-MM') as month, (a.pcmonthcount + a.mobilemonthcount) as totalcount
		FROM cpyyearcount a, cpykeyword b 
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
		ORDER BY to_char(a.month,'YYYY-MM')
	</select>
	
	<select id="getCpyAgeCount" parameterType="int" resultType="CpyAgeCountVO">
		SELECT a.cpykeywordseq, b. cpykeyword, a.age, a.pcmonthcount, a.mobilemonthcount
		FROM cpyagecount a, cpykeyword b 
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
	</select>
	
	<select id="getCpyKeyword" parameterType="String" resultType="CpyKeywordVO">
		SELECT cpykeywordseq, cpykeyword 
		FROM cpykeyword 
		WHERE cpykeyword = #{searchKeyword}
	</select>
	
	<select id="getCpyNewsInfo" parameterType="CpyNewsInfoVO" resultType="CpyNewsInfoVO">
		SELECT b.news_no, a.cpykeywordseq, a.cpykeyword, b.news_title, DBMS_LOB.SUBSTR(b.news_content,300) as news_content, b.news_image, b.news_date, b.byline, b.emtanalysis
		FROM cpykeyword a, cpynewsinfo b
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
		<choose>
	    	<when test="news_division.equalsIgnoreCase('KOR')">
		AND b.news_division = #{news_division}
			</when>
			<when test="news_division.equalsIgnoreCase('ENG')">
		AND b.news_division = #{news_division}
			</when>
			<when test="news_division.equalsIgnoreCase('JPN')">
		AND b.news_division = #{news_division}
			</when>
		</choose>
		ORDER BY b.news_date DESC
	</select>
	
	<select id="getCpyStaok" parameterType="int" resultType="CpyStaokVO">
		SELECT a.cpykeywordseq, b.stockvalue, b.country, b.movevalue, b.per, b.sign
		FROM cpykeyword a, cpystock b
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
	</select>
	
	<select id="getCpyNewsListCount" parameterType="CpyNewsInfoVO" resultType="int">
		SELECT COUNT(*)
		FROM cpykeyword a, cpynewsinfo b
		WHERE 1=1
		AND a.cpykeywordseq = b.cpykeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
		<choose>
	    	<when test="news_division.equalsIgnoreCase('KOR')">
		AND b.news_division = #{news_division}
			</when>
			<when test="news_division.equalsIgnoreCase('ENG')">
		AND b.news_division = #{news_division}
			</when>
			<when test="news_division.equalsIgnoreCase('JPN')">
		AND b.news_division = #{news_division}
			</when>
		</choose>
	</select>
	
	<select id="getDetailNews" parameterType="int" resultType="CpyNewsInfoVO">
		SELECT news_no, cpykeywordseq, news_division, news_title, news_content, news_image, news_date, byline, emtanalysis
		FROM cpynewsinfo a
		WHERE 1=1
		AND news_no = #{news_no}
	</select>
	
	<select id="getCpyRliKeywordsearch" parameterType="map" resultType="CpyRliKeywordVO">
		SELECT * 
		FROM CpyRliKeyword
		WHERE 1=1
		AND cpykeywordseq = #{cpykeywordseq}
		AND rlikeyword = #{rlikeyword}
	</select>
	
	<select id="getCpyRliMonthCount" parameterType="map" resultType="CpyRliMonthCountVO">
		SELECT b.cpyrlikeywordseq, b.pccount, b.mobilecount
		FROM CpyRliKeyword a, CpyRliMonthCount b
		WHERE 1=1
        AND a.cpyrlikeywordseq = b.cpyrlikeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
		AND b.cpyrlikeywordseq = #{cpyrlikeywordseq}
	</select>
	
	<select id="getCpyRliGenderCount" parameterType="map" resultType="CpyRliGenderCountVO">
        SELECT b.cpyrlikeywordseq, (b.malepcusercount +b.malemobileusercount) as malecount, (b.femalepcusercount + b.femalemobileusercount) as femalecount
		FROM CpyRliKeyword a, CpyRliGenderCount b
		WHERE 1=1
        AND a.cpyrlikeywordseq = b.cpyrlikeywordseq
		AND a.cpykeywordseq = #{cpykeywordseq}
		AND b.cpyrlikeywordseq = #{cpyrlikeywordseq}
	</select>
	
	<select id="getCpyRliAgeCount" parameterType="map" resultType="CpyRliAgeCountVO">
        SELECT a.cpyrlikeywordseq, a.age, a.pcmonthcount, a.mobilemonthcount
		FROM cpyrliagecount a, cpyrlikeyword b 
		WHERE 1=1
		AND a.cpyrlikeywordseq = b.cpyrlikeywordseq
		AND b.cpykeywordseq = #{cpykeywordseq}
        AND a.cpyrlikeywordseq = #{cpyrlikeywordseq}
	</select>
	
	<select id="getCpyRliYearCount" parameterType="map" resultType="CpyRliYearCountVO">
        SELECT a.cpyrlikeywordseq, to_char(a.month,'YYYY-MM') as month, (a.pcmonthcount + a.mobilemonthcount) as totalcount
		FROM cpyrliyearcount a, cpyrlikeyword b 
		WHERE 1=1
		AND a.cpyrlikeywordseq = b.cpyrlikeywordseq
		AND b.cpykeywordseq = 1
		AND a.cpyrlikeywordseq = 3
        ORDER BY to_char(a.month,'YYYY-MM')
	</select>
</mapper>

