<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "com.project.bision.dao.QnaMapper">
 
 
 <select id="selectAll" resultType="QnaVO" parameterType="QnaVO">
SELECT qnaseq
	, qnatype
    , qnatitle
    , qancontent
    , qnaid
    , to_char(qnadate, 'yyyy-mm-dd') qnadate 
FROM 
    bision_qna

</select>


 
 </mapper>