<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.project.bision.dao.UserMapper">
	<select id="loginCheck" parameterType="UserVO" resultType="UserVO">
		SELECT *
		FROM bision_user 
		WHERE 1=1
		AND userid = #{userid}
		AND userpw = #{userpw}
	</select>
	
	<insert id="signup" parameterType="UserVO">
		INSERT INTO bision_user(userid, username, userpw, userbirth, useraddress, userphone, userbelong, userdivision)
		VALUES(#{userid},#{username},#{userpw},#{userbirth},#{useraddress},#{userphone},#{userbelong},1)
	</insert>
	
	<update id="updatePayment" parameterType="UserVO">
		UPDATE bision_user 
		SET userdivision = '2' 
		WHERE userid = #{userid}
	</update>
</mapper>

